    /*Body*/

    body{
    padding: 0px;

}

        /*HEADER*/

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

        /*LOGO*/

#logo{
    display: contents;

}

#logo img{
    width: 150px;
    margin-top:20px ;

}
        /*NAVIGATION*/

nav {
    display: flex;
    margin: 0;
    width: 100%;
    
}

nav ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
} 

nav ul li{
    display: flex;  
    width:100%;
    justify-content: space-around;
    border-top: none;
    border-bottom: 3px solid var(--grey);
    margin: 0px ;
    
}

nav ul li:hover{
    border-color: #0065FC;
    
}

nav a{
    color: black;
    font-size:16px ;
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
    margin: 20px 0 0 0;

}   

nav a:hover{
    color: #0065FC;

}


            /*MAIN*/

main{
    width: 100%;

}

        /*DESCRIPTION*/

#description, .filtres, .information{
    width: 90%;
    margin: auto;

}

#description h1{
    margin: 30px 0px 15px 0px;

}

.searchbox{
    margin: 5% 3%;

}

.searchbox button{
    border-radius: 15px;

}

.searchbox button span{
    display: none;

}

.searchbox button .fa-search{
    display: block;

}


        /*FILTRES*/


.filtres{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

.filtres h2{
    width: 100%;

}

.icone-filtre{
    display: flex;
    align-content: flex-start;
    margin: 5px;

}

        /*BLOC PRINCIPAL*/

#bloc-principal{
    background-color:white;
    flex-direction: column-reverse;
    width: 100%;

}

        /*HEBERGEMENTS A MARSEILLE*/

.liste-hebergement a{
    width: 100%;

}

.liste-hebergement a article img{
    margin: 0;
    height: 200px;

}

.hebergement{
    background-color: #ffffff;
    /*padding: 0 5%;*/
    width: 90%;

}

.hebergement h2{
    margin: 30px 5px 20px 5px;

}

.liste-hebergement a{
    display: inline;
    border-radius: 25%;
    margin-bottom: 5%;

}

.liste-hebergement a article{
    box-shadow: 0 0 15px var(--grey);

}

        /*LES PLUS POPULAIRES*/

.populaire{
    width: 90%;
    margin: 0;
    border-radius: 0;
    border-left: none;
    padding: 0 5%;
    justify-content: space-evenly;
    background-color: var(--grey);

}

.liste-populaires{
    flex-direction: column;
    
}
.liste-populaires a{
    width: 100%;
    justify-content: center;
    
}

.nom-hotel{
    margin-left: 10px;

}

.liste-populaires .nom-hotel .etoiles{        
        margin: 50px 5px 0;

}

        /*ACTIVITES A MARSEILLE*/

#activites_marseilles h2{
    margin-left: 38px;

}

#activites{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

#activites figure{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

#activites img{
    height: 135px;
    margin: auto;
    width: 100%;

}

.col_activites, .col2_activites, .col4_activites{
    width: 100%;
    max-width: 758px;

}

#activites figure{
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

}



        /*FOOTER*/

footer{
    width: 100%;
    margin-top: 20px;
    flex-direction: column;

} 

footer a{
    line-height: 30px;

}

footer ul{
    margin: 5px;

}

footer ul h3{
    margin-top: 30px;

}

footer li{
    margin-right: 0;

}

.col_footer{
    width: 100%;

}     